/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 48em;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Title Stuff */
.title-area{
  border-bottom: 1px solid #ddd;
}

.title-logo{
  text-align: center;
}

.title-logo > img{
  width: 48px;
  margin-top: 19px;
} 

.title-text{
  text-align: center;
}

/* Progress Bars */
.progress{
  margin-bottom: 0;
}

.progress-bar{
  color: #FFF;
}

.membar-key > span.membar-key-buffers,
.progress-bar-buffers{
  background: #A8C545;
}
.membar-key > span.membar-key-cache,
.progress-bar-cache{
  background: #0092B2;
}
.membar-key > span.membar-key-free,
.progress-bar-free{
  background: #B5A98C;
}
.membar-key > span.membar-key-used,
.progress-bar-used{
  background: #AB7D15;
}
.progress-bar-grey{
  color: #000;
  background-color: #B5A98C;
  padding: 0 0 0 4px;
}

/* Custom memory bar options */
.membar-key > p{
  display: inline;
}
td.membar-key{
  width:4em;
}

.membar-key > span{
  margin-right: 5px;
  font-size: 12px;
  background-color: #ddd;
  color: #fff;
  padding: 3px 8px;
  border-radius: 3px;
  text-align: center;
  display: block;
  width:100%;
}

p{
  margin: 2px 0 2px;
}

#storage_pct_bars{
  min-width: 0; 
}

footer > p{
  margin-bottom: 8px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /* dont force a wider percentage bar on a smaller screen */
  #storage_pct_bars{
   min-width: 8em; 
  }

  .title-text{
    text-align: left;
  }

  .title-logo{
    text-align: right;
  }

  .title-logo > img{
    margin-top: 19px;
  } 
}

/*
