<h4><i class="fa fa-server"></i> Hardware</h4>

<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <td><p>Uptime: </p></td>
        <td><p class="text-right">{{ hardwareInfo['uptime'] }}</p></td>
    </tr>
    <tr>
        <td><p>Board Temperature: </p></td>
        <td><p class="text-right">{{ hardwareInfo['temperature'] }} &deg;C</p></td>
    </tr>
    </tbody>
</table>