{% extends 'layout/layout.twig' %}

{% block content %}

<div class="row">
    <!-- Hardware -->
    <div class="col-lg-6">
        {#<?php include ('content/hardware.php'); ?>#}
        {% include 'public/hardware.twig' %}
    </div>
    <!-- Network -->
    <div class="col-lg-6">
        {#<?php include ('content/network.php'); ?>#}
        {% include 'public/network.twig' %}
    </div>
</div>

<div class="row">
    <!-- Load Average -->
    <div class="col-lg-6">
        {#<?php include ('content/load_average.php'); ?>#}
        {% include 'public/load_average.twig' %}
    </div>
    <div class="col-lg-6">
        <!-- Memory -->
        {#<?php include ('content/memory.php'); ?>#}
        {% include 'public/memory.twig' %}
    </div>
</div>

<div class="row">
    <!-- Storage -->
    <div class="col-lg-12">
        {#<?php include ('content/storage.php'); ?>#}
    </div>
</div>

{% endblock %}