<h4><i class="fa fa-area-chart"></i> CPU Load Average</h4>

<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <td><p>1 min:</p></td>
        <td><p class="text-right">{{ loadInfo['oneMinute'] }}</p></td>
    </tr>
    <tr>
        <td><p>5 min:</p></td>
        <td><p class="text-right">{{ loadInfo['fiveMinutes'] }}</p></td>
    </tr>
    <tr>
        <td><p>15 min:</p></td>
        <td><p class="text-right">{{ loadInfo['fifteenMinutes'] }}</p></td>
    </tr>
    </tbody>
</table>
