<h4><i class="fa fa-exchange"></i> Network</h4>

<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <td><p>Download Rate:</p></td>
        <td><p class="text-right">{{ networkInfo['download'] }}</p></td>
    </tr>
    <tr>
        <td><p>Upload Rate:</p></td>
        <td><p class="text-right">{{ networkInfo['upload'] }}</p></td>
    </tr>
    </tbody>
</table>